body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000 url('assets/Home page background.png') no-repeat center center/cover;
}

header .btn-primary {
    background-color: #000;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    color: #fff;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #1E1E1E !important;
}

.navbar-nav .nav-link:hover {
    color: #555 !important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #1E1E1E !important;
}

.navbar-brand:hover {
    color: #555 !important;
}

